.btn-delete-category {
    cursor: pointer;
    color: #8A0808;
}
.img-product {
    width: 20%;
}
.help-block {
    color: red;
}
.img-create-product {
    width: 50%;
    border-radius: 10px;
    cursor: pointer;
}
.img-user-avatar {
    width: 50px;
}
